# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
gitignore

# Virtual Environment
.env
.venv
env/
venv/
ENV/
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Distribution
dist/
build/
*.egg-info/

# Jekyll
docs/_site/
docs/.jekyll-cache/
docs/.jekyll-metadata
docs/.sass-cache/

# SPICE
weinhardt2025/benchmarking/params
playground.py
weinhardt2025/data
weinhardt2025/params

*.csv
*.png